.footer {
    
    padding-bottom: 114px;
    

    &__wrapper {
        margin: 0 50px;
        width: 100%;
        height: 100%;
        background: $secondary;
        padding: 83px 80px 92px;
        display: grid;
        grid-template-columns: 367px 566px;
        column-gap: 87px;
    }

    &__info {
        &-title {
            font-weight: bold;
            font-size: 48px;
            color: #FFFFFF;
        }
        &-descr {
            margin-top: 26px;
            font-weight: normal;
            font-size: 28px;
            line-height: 91.2%;
            color: #FFFFFF;
        }
    }

    &__form {
        margin-top: 8px;
        display: grid;
        grid-template: 65px 18px / 300px 250px;
        column-gap: 15px;
        row-gap: 24px;

        &-input {
            
            height: 65px;
            border: none;
            background: #FFFFFF;
            border-radius: 10px;
            font-weight: normal;
            font-size: 14px;
            padding: 22px 0 26px 33px;
            color: #000000;
        }

        &-btn { 
            height: 65px;
            border: none;
            background: $main;
            border-radius: 10px;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            padding: 22px 75px 26px;

            &:hover {
                box-shadow: 0px 4px 30px rgba(226, 220, 220, 0.3); 
            }
        }

        &-subscription {
            position: relative;
            font-weight: normal;
            font-size: 14px;
            color: #FFFFFF;
            display: flex;
            justify-content: start;
            align-items: center;

            label {
                display: block;
                text-align: center;
            }

            input {
                cursor: pointer;
                position: absolute;
                opacity: 0;

                &:checked + label {
                    &:before {
                        border-color: $main;
                        background-color: $main;
                        background-image: url("../icons/check.svg");
                    }
                }
            }

            input + label {
                display: inline-flex;
                align-items: center;
                user-select: none;

                &:before {
                    cursor: pointer;
                    content: '';
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    flex-shrink: 0;
                    flex-grow: 0;
                    border: 1px solid #adb5bd;
                    border-radius: 0.25em;
                    margin-right: 0.5em;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 50% 50%;
                }
            }
        }
    }
}
